.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/dbnavigator.xml
.idea/misc.xml
.idea/uiDesigner.xml
sandbox/build/reports/tests/test/packages/ru.zzzhvl.faa.sandbox.html
sandbox/build/reports/tests/test/index.html
sandbox/build/reports/tests/test/css/style.css
sandbox/build/reports/tests/test/css/base-style.css
addressbook-web-tests/build/reports/tests/test/index.html
addressbook-web-tests/build/reports/tests/test/js/report.js
addressbook-web-tests/build/reports/tests/test/css/style.css
addressbook-web-tests/build/reports/tests/test/css/base-style.css
addressbook-web-tests/build/reports/tests/test/packages/ru.zzzhvl.faa.adressbook.html
addressbook-web-tests/build/test-results/test/TEST-ru.zzzhvl.faa.adressbook.tests.GroupDeleteTests.xml
addressbook-web-tests/build/test-results/test/TEST-ru.zzzhvl.faa.adressbook.GroupCreateTest.xml
addressbook-web-tests/build/test-results/test/TEST-ru.zzzhvl.faa.adressbook.GroupCreateTest.xml
addressbook-web-tests/build/test-results/test/TEST-ru.zzzhvl.faa.adressbook.GroupCreateTest.xml
addressbook-web-tests/build/reports/tests/test/packages/ru.zzzhvl.faa.adressbook.html
addressbook-web-tests/build/reports/tests/test/packages/ru.zzzhvl.faa.adressbook.html
addressbook-web-tests/build/reports/tests/test/classes/ru.zzzhvl.faa.adressbook.GroupCreateTest.html
addressbook-web-tests/build/reports/tests/test/packages/ru.zzzhvl.faa.adressbook.tests.html
addressbook-web-tests/build/reports/tests/test/packages/ru.zzzhvl.faa.adressbook.html
addressbook-web-tests/build/reports/tests/test/packages/ru.zzzhvl.faa.adressbook.html
addressbook-web-tests/build/tmp/compileTestJava/previous-compilation-data.bin
addressbook-web-tests/build/test-results/test/binary/results.bin
addressbook-web-tests/build/test-results/test/binary/output.bin.idx
addressbook-web-tests/build/test-results/test/binary/output.bin
addressbook-web-tests/build/reports/tests/test/classes/ru.zzzhvl.faa.adressbook.tests.GroupDeleteTests.html
addressbook-web-tests/build/reports/tests/test/classes/ru.zzzhvl.faa.adressbook.tests.GroupDeleteTests.html
addressbook-web-tests/build/reports/tests/test/classes/ru.zzzhvl.faa.adressbook.tests.GroupModificationTests.html
addressbook-web-tests/build/reports/tests/test/classes/ru.zzzhvl.faa.adressbook.tests.GroupDeleteTests.html
addressbook-web-tests/build/test-results/test/binary/results.bin
addressbook-web-tests/build/test-results/test/binary/output.bin
addressbook-web-tests/build/test-results/test/TEST-ru.zzzhvl.faa.adressbook.tests.GroupModificationTests.xml
addressbook-web-tests/build/test-results/test/binary/results.bin
addressbook-web-tests/build/tmp/compileTestJava/previous-compilation-data.bin
addressbook-web-tests/build/reports/tests/test/classes/ru.zzzhvl.faa.adressbook.tests.ContactCreateTests.html
addressbook-web-tests/build/reports/tests/test/classes/ru.zzzhvl.faa.adressbook.tests.GroupCreateTests.html
addressbook-web-tests/build/test-results/test/TEST-ru.zzzhvl.faa.adressbook.tests.ContactCreateTests.xml
addressbook-web-tests/build/test-results/test/TEST-ru.zzzhvl.faa.adressbook.tests.GroupCreateTests.xml
addressbook-web-tests/build/test-results/test/binary/output.bin.idx
addressbook-web-tests/build/test-results/test/binary/output.bin
addressbook-web-tests/build/tmp/compileTestJava/previous-compilation-data.bin
addressbook-web-tests/build/reports/tests/test/classes/ru.zzzhvl.faa.adressbook.tests.ContactDeleteTests.html
addressbook-web-tests/build/test-results/test/TEST-ru.zzzhvl.faa.adressbook.tests.ContactDeleteTests.xml
addressbook-web-tests/build/test-results/test/binary/output.bin.idx
*.html
sandbox/build/tmp/compileJava/previous-compilation-data.bin
*.bin
*.xml
*.bin
