.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/dbnavigator.xml
.idea/misc.xml
.idea/uiDesigner.xml
sandbox/build/reports/tests/test/packages/ru.zzzhvl.faa.sandbox.html
sandbox/build/reports/tests/test/index.html
sandbox/build/reports/tests/test/css/style.css
sandbox/build/reports/tests/test/css/base-style.css
